# These tests are run by autopkgtests

Tests: tests_without_java
Depends: @, shunit2, which
Restrictions: allow-stderr

# Don't know why, but it can be used with openjre
Tests: tests_with_open_jre
Depends: @, shunit2, which, openjdk-17-jre

# generally it is not a good idea to test as a root
# better to define third-party repository which depends can be installed from
Tests: tests_with_oracle_jre
Depends: @, shunit2, which, curl, ca-certificates
Restrictions:needs-root # for installing oracle-jre

