#!/usr/bin/make -f

export CARGO_INSTALL_EXTRA_FLAGS:=--root build
export PATH:="$(HOME)/.cargo/bin:$(PATH)"
export PROFILE:=release
export FEATURES:=jemalloc


%:
	dh $@


override_dh_auto_build:
	$(HOME)/.cargo/bin/cargo install --path . --force --locked \
		--features "$(FEATURES)" \
		--profile "$(PROFILE)" \
		$(CARGO_INSTALL_EXTRA_FLAGS)

override_dh_auto_test:
	$(HOME)/.cargo/bin/cargo test --release


override_dh_auto_install:

override_dh_installsystemd:


override_dh_dwz:

