name = "hello-world-python"
maintainer = "John Doe <johndoe@example.com>"
section = "net"
variants = []
build_depends = ["python3-all", "python3-pip", "python3-venv", "python3-dev"]
packages = ["hello-world-python"]
skip_debug_symbols = true